body {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-size: 1.5rem;
} 

h2 {
    line-height: 1.5;
    font-weight: 600;
    
}

p {
    font-size: 1.5rem;
    margin-top: 1.5rem;
}

/* TITLE SECTION */

.container-fluid {
    padding: 2% 0;
}

/* Navigation Bar */
.navbar {
    padding: 0 0 3rem;
    box-shadow: 0 4px 7px #f1f2f4;
}

.logo {
    width: 15%;
}

/* Title */
.heading {
    padding: 3rem 0;
    background-color: #ffffff;
    margin: 0 5rem;
}

.big-heading {
    margin: 3rem 0 0 0;
    font-size: 2.5rem;
    font-weight: 600;
    color: #0c2440;
    line-height: 1.5;
}

.title-image {
    width: 50%;
    margin-left: 10rem;
}

.title-text {
    color: #32c6ec;
}

.button {
    background-image: linear-gradient(to right, #3ffbcc, #47e3dc, #49dae2, #57b3ff);
    border-radius: 20px;
    border: none;
    font-size: 1.75rem;
    color: #ffffff;
    font-weight: 600;
    padding: 10px 35px; 
    margin-top: 1rem;
    letter-spacing: 1.5px;
}

.button-link {
    text-decoration: none;
    color: #ffffff;
}

/* SIGN UP SECTION */
#sign-up {
    text-align: left;
    padding: 3.5rem 8rem;
    background-color: #0c2440; 
}

.sign-up-title {
    color: #ffffff;
    text-align: center;
}

.sign-up-heading {
    background-image: linear-gradient(to right, #48d6e5, #43c5ec, #3cacf7);
    border-radius: 15px 15px 0 0;
    padding: 2rem 2.5rem 1rem 2.5rem;
}

.sign-up-form {
    
    border-radius: 15px;
    background-color: #ffffff;
    border-width: 0;
}

.sign-up-contain {
padding:0;
}

.form-text {
    color: #32c6ec;
    font-size: 1.5rem;
}

.form-control {
    border: 2px solid #63b8ff;
    height: 3.5rem;
    border-radius: 0;
}

.form-check-input {
    border: 2px solid #63b8ff;
    width: 2rem;
    height: 2rem;
    border-radius: 0;
}

.button-form {
    margin-bottom: 10px;
}

.image-form {
    width: 115%;
    position: absolute;
    top: 2%;
}

/* FEATURES SECTION */
#features {
    padding: 5rem 3rem;
    color: #787878;
    text-align: center;
}

.features-heading {
    
    font-weight: 700;
    font-size: 3rem;
}

.features-text {
    text-align: justify;
    font-size: 1.25rem;
    font-weight: 500;
}

.feature-row {
    padding-top: 2rem;
}

.features-strong {
    color: #63b8ff;
    font-weight: 800;
}

.features-button {
    background-image: linear-gradient(to right, #02b385, #02b5a4, #02b7ba, #03bad7);
    border-radius: 40px;
    border: none;
    font-size: 1.75rem;
    color: #ffffff;
    font-weight: 800;
    padding: 15px 60px; 
    margin-top: 1rem;
    letter-spacing: 1.5px;
}

@media (max-width: 1028px) {

    #title {
        text-align: center;
    }

    .title-image {
        margin: 3rem auto;
    }

    #sign-up {
        padding: 2.5rem 5rem;
    }
    
    .image-form {
        width: 100%;
    }
}

